/*===== VARIABLES CSS =====*/

/*===== Font weight =====*/
:root {

  --header-height: 30px;

  /*===== Colors =====*/
  --first-color: #a04028;
  --first-color-light: #f6633e;
  --second-color: #72322d;
  --second-color-light: #d96158;

  --white-color: #FFFFFF;
  --gray-color: #b4b4b5;
  --dark-color: #141414;
  --dark-color-light: #8a8a8a;
  --dark-color-lighten: #f2f2f2;

  --valid-color: #01bf01;
  --invalid-color: #e00101;


  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 30px;
  --h2-font-size: 25px;
  --h3-font-size: 20px;
  --biggest-font-size: 30px;
  --normal-font-size: 14px;
  --small-font-size: 12px;
  --smaller-font-size: 10px;

  /*===== Typography > 768 =====*/
  @media screen and (min-width: 768px) {
    --h1-font-size: 35px;
    --h2-font-size: 30px;
    --h3-font-size: 25px;

    --biggest-font-size: 60px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 12px;
  }

  /*===== Font weight =====*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*===== Margins =====*/
  --m-1: 10px;
  --m-2: 20px;
  --m-3: 30px;
  --m-4: 40px;

  /*===== Paddings =====*/
  --p-1: 10px;
  --p-2: 20px;
  --p-3: 30px;
  --p-4: 40px;

  /*===== z index =====*/
  --z-1: 1;
  --z-10: 10;
  --z-100: 100;

  /*===== Rotate img =====*/
  --rotate-img: rotate(-30deg)
}


// Настройка Bootstrap переменных from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px; // Расстояние между ячейками
$grid-columns: 12; // Количество колонок
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px); // Медиа брейкпоинты
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px); // Максимальная ширина контейнера на разных экранах

$gutter: $grid-gutter-width; // Не трогать
