.footer {
  &__container{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  &__box{
    margin-bottom: var(--m-4);
  }

  &__title{
    font-size: var(--h3-font-size);
  }

  &__description{

  }

  &__link{
    display: block;
    width: max-content;
    margin-bottom: var(--m-1);

  }

  &__social{
    font-size: var(--h1-font-size);
    margin-right: var(--m-1);
  }

  &__copy {
    padding-top: var(--m-2);
    font-size: var(--smaller-font-size);
    color: var(--dark-color-lighten);
    text-align: center;
  }

}